<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Corona Virus Vaccine Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>

  <body>
    <table>
          <tr>
            <th>Location</th>
            <th>Vaccines</th>
            <th>Last Observation Date</th>
          </tr>
          <tr th:each="record : ${records}">
            <td th:text="${record.location}"></td>
            <td th:text="${record.vaccines}"></td>
            <td th:text="${record.last_observation_date}"></td>
          </tr>
        </table>

  </body>

</html>